[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.24"
psycopg2-binary = "*"
django-crispy-forms = "==1.9.1"
django-allauth = "*"
django-isbn-field = "*"
pillow = "*"
django-richtextfield = "*"
django-anymail = {extras = ["mailjet"], version = "*"}

[requires]
python_version = "3.8"
