[project]
name = "datakult"
version = "0.1.0"
description = "Review and analyse the media and culture that you consume."
readme = "README.md"
license = "AGPL-3.0"

requires-python = ">=3.12"
dependencies = [
    "django (>=5.0.0)",
    "django-htmx>=1.23.2",
    "django-markdownfield>=0.11.0",
    "django-partial-date>=1.3.2",
    "django-tailwind[reload]>=4.2.0",
    "heroicons[django]>=2.11.0",
    "pillow>=12.0.0",
]

[dependency-groups]
dev = [
    "cookiecutter>=2.6.0",
    "django-browser-reload>=1.18.0",
    "djlint>=1.36.4",
    "honcho>=2.0.0",
    "ipython>=9.3.0",
    "poethepoet>=0.36.0",
    "ruff>=0.12.4",
]

[tool.poe.tasks]
format = "ruff format ./src"
lint = "ruff check ./src"
server = "./src/manage.py tailwind dev"
runserver = "./src/manage.py runserver"
makemigrations = "./src/manage.py makemigrations"
migrate = "./src/manage.py migrate"
shell = "./src/manage.py shell"
setup = "./scripts/setup_dev.sh"

[tool.ruff]
line-length = 120
src = [
    "src",
]
respect-gitignore = true
# https://docs.astral.sh/ruff/settings/
fix = true
show-fixes = true

extend-exclude = ["*/**/migrations/**", "./src/config/settings.py"]

output-format = "grouped"

# https://docs.astral.sh/ruff/rules/
lint.select = ["ALL"]
lint.ignore = [
    "ANN",
    "D",
    "PGH004",
    "RUF012",
    "COM812",
]

[tool.ruff.per-file-ignores]
"*/tests/**/*.py" = [
    "S101", # asserts allowed in tests
    "ARG",
    "FBT",
    "PLR2004",
]

[build-system]
requires = ["setuptools"]

[tool.setuptools.packages.find]
where = ["./src"]

[tool.uv]
required-version = ">=0.7.9"
package = false
