{% load static tailwind_tags %}
{% load django_htmx %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        Datakult
      {% endblock title %}
    </title>
    <meta charset="UTF-8" />
    <meta name="description"
          content="Review and analyse the media and culture that you consume.">
    <meta name="keywords" content="Media tracker, reviews, metacritic">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
    {% htmx_script %}
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <!-- Simple layout for non-authenticated users -->
    <div class="min-h-screen flex flex-col p-4 lg:p-12">
      {% block content %}
      {% endblock content %}
    </div>
    <script src="{% static 'js/base.js' %}"></script>
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
