{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>{% block title %}{% endblock title %} | Datakult</title>
    {% include "partials/common/head.html" %}
    {# In the head, as htmx runs again the scripts of a body that a boosted request swaps #}
    <script src="{% static 'js/base.js' %}" defer></script>
    {% block extra_css %}
    {% endblock extra_css %}
    {% block head_js %}
    {% endblock head_js %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block body %}
    {% endblock body %}
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
