{% load static tailwind_tags %}
{% load django_htmx %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        Datakult
      {% endblock title %}
    </title>
    <meta charset="UTF-8" />
    <meta name="description"
          content="Review and analyse the media and culture that you consume.">
    <meta name="keywords" content="Media tracker, reviews, metacritic">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
    {% htmx_script %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="mx-auto">
    <div>
      {% block navbar %}
        <div class="navbar bg-base-100 shadow-sm">
          <div class="flex-1">
            <a href="{% url 'home' %}" class="btn btn-ghost text-xl text-primary">Datakult</a>
          </div>
          <div class="flex-none">
            <ul class="menu menu-horizontal">
              <li class="dropdown dropdown-end">
                <div tabindex="0" role="button" aria-label="Theme" class="btn mx-1">{% heroicon_outline "sun" %}</div>
                <ul tabindex="0"
                    class="dropdown-content bg-base-200 rounded-box z-10 w-42 shadow-2xl">
                  <li>
                    <input type="radio"
                           name="theme-dropdown"
                           class="theme-controller btn justify-start"
                           aria-label="{% translate "System" %}"
                           value="default" />
                  </li>
                  <li>
                    <input type="radio"
                           name="theme-dropdown"
                           class="theme-controller btn justify-start"
                           aria-label="{% translate "Light" %}"
                           value="emerald" />
                  </li>
                  <li>
                    <input type="radio"
                           name="theme-dropdown"
                           class="theme-controller btn justify-start"
                           aria-label="{% translate "Dark" %}"
                           value="forest" />
                  </li>
                </ul>
              </li>
              {% if not user.is_authenticated %}
                <li>
                  <a href="{% url 'login' %}" class="btn">Log in</a>
                </li>
              {% else %}
                <li class="dropdown dropdown-end">
                  <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="bg-neutral text-neutral-content w-10 rounded-full">
                      <span class="text-xs flex items-center justify-center h-full">{{ user.username|slice:":2"|upper }}</span>
                    </div>
                  </div>
                  <ul tabindex="0"
                      class="dropdown-content menu bg-base-200 rounded-box z-10 w-52 p-2 shadow-2xl">
                    <li class="menu-title">
                      <span>{{ user.username }}</span>
                    </li>
                    <li>
                      <a href="{% url 'accounts:profile_edit' %}">
                        {% heroicon_mini "user-circle" %}
                        {% translate "Edit Profile" %}
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'backup_manage' %}">
                        {% heroicon_mini "arrow-down-tray" %}
                        {% translate "Backups" %}
                      </a>
                    </li>
                    <li>
                      <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"
                                class="flex items-center gap-2 w-full text-left cursor-pointer">
                          {% heroicon_mini "arrow-right-on-rectangle" %}
                          {% translate "Log Out" %}
                        </button>
                      </form>
                    </li>
                  </ul>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      {% endblock navbar %}
      <div class="m-12">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
    <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>
