{% extends "base.html" %}
{% load i18n %}
{% translate "Search" %}
{% block title %}
  Media
{% endblock title %}
{% block content %}
  <h1 class="text-4xl my-4">{% translate "My media" %}</h1>
  <div class="flex justify-between gap-4 mb-2">
    <label class="input flex-1">
      {% heroicon_mini "magnifying-glass" %}
      <input type="search"
             class="grow"
             placeholder="{% translate "Search" %}"
             name="search"
             hx-get="{% url 'search' %}"
             hx-trigger="keyup delay:500ms"
             hx-target="#media-list"
             hx-indicator="#spinner"
             hx-on::before-request="document.getElementById('media-list').style.opacity = 0.4"
             hx-on::after-request="document.getElementById('media-list').style.opacity = 1" />
      {% include "partials/spinner.html" %}
    </label>
    <a href="{% url 'media_add' %}" class="btn btn-primary">{% heroicon_mini "plus" %}{% translate "Add" %}</a>
  </div>
  {% include "partials/media-list.html" %}
{% endblock content %}
