{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {{ media.title }}
{% endblock title %}
{% block content %}
  <div>
    <h1 class="text-4xl my-4">{{ media.title }}</h1>
    <a href="{% url 'media_edit' media.pk %}" class="btn btn-primary">{% translate "Edit" %}</a>
  </div>
  {% if media.cover %}
    <div class="my-4">
      <img src="{{ media.cover.url }}"
           alt="{% translate "Cover" %}"
           width="128"
           height="192"
           class="w-32 h-48 object-cover">
    </div>
  {% endif %}
  {{ form.title }}
  <select class="select">
    {% for choice in form.media_type %}
      {% if forloop.first %}
        <option disabled selected>{% translate "Media type" %}</option>
      {% else %}
        {{ choice }}
      {% endif %}
    {% endfor %}
  </select>
  <select class="select">
    {% for choice in form.status %}
      {% if forloop.first %}
        <option disabled selected>{% translate "Status" %}</option>
      {% else %}
        {{ choice }}
      {% endif %}
    {% endfor %}
  </select>
  {{ form.pub_year }}
  <select class="select">
    {% for choice in form.score %}
      {% if forloop.first %}
        <option disabled selected>{% translate "Score" %}</option>
      {% else %}
        {{ choice }}
      {% endif %}
    {% endfor %}
  </select>
  {{ form.review }}
  {{ form.review_date }}
{% endblock content %}
