{% load i18n %}

<div id="media-list">
  {% if media_list %}
    <div class="overflow-x-auto">
      <table class="table table-zebra table-pin-rows">
        <thead>
          <tr>
            <th>Title</th>
            <th>Contrib</th>
            <th>Type</th>
            <th>Status</th>
            <th>Year</th>
            <th>Score</th>
            <th>Created at</th>
          </tr>
        </thead>

        <tbody>
          {% for media in media_list %}
          <tr>
            <td>{{ media.title }}</td>
            <td>
            {% for contributor in media.contributors.all %}
              <a href="{% url 'agent_detail' contributor.id %}">{{ contributor.name }}</a>
            {% endfor %}
            </td>
            <td>{{ media.get_media_type_display }}</td>
            <td><div class="badge badge-soft badge-primary">{{ media.get_status_display }}</div></td>
            <td>{{ media.pub_year }}</td>
            <td>{% if media.score %}
              {{ media.score }} ⭐ - {{ media.get_score_display}}
            {% endif %}</td>
            <td>{{ media.created_at | date:"Y-m-d" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  {% else %}
  <div role="alert" class="alert">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info h-6 w-6 shrink-0">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
    <span>{% translate "No media found." %}</span>
  </div>
  {% endif %}
</div>