{% load i18n %}
<div id="media-list">
  {% if media_list %}
    {% if view_mode == 'grid' %}
      {# Grid view - Cards layout #}
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 mt-4"
           id="media-container">{% include "partials/media-items.html" %}</div>
    {% else %}
      {# List view - Table layout #}
      <div class="overflow-x-auto">
        <table class="table table-zebra table-pin-rows" id="media-container">
          <thead>
            <tr>
              <th>{% translate "Cover" %}</th>
              <th>{% translate "Title" %}</th>
              <th>{% translate "Contributor" %}</th>
              <th>{% translate "Type" %}</th>
              <th>{% translate "Status" %}</th>
              <th>{% translate "Year" %}</th>
              <th>{% translate "Score" %}</th>
              <th>{% translate "Created at" %}</th>
            </tr>
          </thead>
          <tbody>
            {% include "partials/media-items.html" %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% else %}
    <div role="alert" class="alert mt-3">
      {% heroicon_outline "exclamation-circle" class="text-info" %}
      <span>{% translate "No media found." %}</span>
    </div>
  {% endif %}
</div>
