{% load i18n %}
<div class="rating rating-xs -ml-2">
    <input type="radio"
           name="{{ media.id }}-rating"
           class="rating-hidden"
           aria-label="clear"
           {% if not media.score %}checked="checked"{% endif %} />
    <input type="radio"
           name="{{ media.id }}-rating"
           class="mask mask-star-2 bg-primary"
           aria-label="1 star"
           {% if media.score == 1 %}checked="checked"{% endif %} />
    <input type="radio"
           name="{{ media.id }}-rating"
           class="mask mask-star-2 bg-primary"
           aria-label="2 star"
           {% if media.score == 2 %}checked="checked"{% endif %} />
    <input type="radio"
           name="{{ media.id }}-rating"
           class="mask mask-star-2 bg-primary"
           aria-label="3 star"
           {% if media.score == 3 %}checked="checked"{% endif %} />
    <input type="radio"
           name="{{ media.id }}-rating"
           class="mask mask-star-2 bg-primary"
           aria-label="4 star"
           {% if media.score == 4 %}checked="checked"{% endif %} />
    <input type="radio"
           name="{{ media.id }}-rating"
           class="mask mask-star-2 bg-primary"
           aria-label="5 star"
           {% if media.score == 5 %}checked="checked"{% endif %} />
    <input type="radio"
           name="{{ media.id }}-rating"
           class="mask mask-star-2 bg-primary"
           aria-label="6 star"
           {% if media.score == 6 %}checked="checked"{% endif %} />
    <input type="radio"
           name="{{ media.id }}-rating"
           class="mask mask-star-2 bg-primary"
           aria-label="7 star"
           {% if media.score == 7 %}checked="checked"{% endif %} />
    <input type="radio"
           name="{{ media.id }}-rating"
           class="mask mask-star-2 bg-primary"
           aria-label="8 star"
           {% if media.score == 8 %}checked="checked"{% endif %} />
    <input type="radio"
           name="{{ media.id }}-rating"
           class="mask mask-star-2 bg-primary"
           aria-label="9 star"
           {% if media.score == 9 %}checked="checked"{% endif %} />
    <input type="radio"
           name="{{ media.id }}-rating"
           class="mask mask-star-2 bg-primary"
           aria-label="10 star"
           {% if media.score == 10 %}checked="checked"{% endif %} />
</div>
<div class="text-xs">
    {% if media.score %}
        {{ media.score }} - {{ media.get_score_display }}
    {% else %}
        {% translate "Not rated" %}
    {% endif %}
</div>
