{% load i18n %}
{# Inner template for star display - called by media-score-stars.html #}
<div class="flex items-center {{ gap_size }}"
     role="img"
     aria-label="{% translate 'Score:' %} {{ media.score }} {% translate 'out of 10' %}">
  {# Star rating display #}
  <div class="rating {{ rating_size }}">
    {% for i in "0123456789" %}
      <span class="mask mask-star-2 bg-orange-400"
            {% if forloop.counter <= media.score %}aria-current="true"{% endif %}></span>
    {% endfor %}
  </div>
  {# Score badge with label (optional) #}
  {% if show_badge != False %}
    {% include "partials/media_items/score/media_score_badge.html" with size=badge_size %}
  {% endif %}
</div>
